[Unit]
Description=hana exporter  service

[Service]
ExecStart=/usr/bin/hana_exporter --config.file=/etc/prometheus/hana_exporter.yml 
Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
[Install]
WantedBy=multi-user.target
